<%- include('../partials/header') %>
<div class="h2">
  <h2>All Blogs</h2>
</div>
<div class="search">
  <form action="/blogs/search" method="GET" style="margin-bottom: 1rem;">
    <input type="text" name="q" placeholder="Search blogs..." required>
    <button type="submit">Search</button>
  </form>
</div>
<% if (blogs.length === 0) { %>
  <p>No blog posts found.</p>
  <% } else { %>
<% blogs.forEach(blog => { %>
  
  <div class="blog">
    <h3><%= blog.title %></h3>
    <p><%= blog.snippet %></p>
    <p><%= blog.body %></p>
    <a href="/blogs/<%= blog._id %>/edit">Edit</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
      <button type="submit">Delete</button>
    </form>
    
  </div>
<% }) %>
<% } %>



<%- include('../partials/footer') %>
